<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title or user.username }} | BotoLinkPro</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=1.2">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/gh/ushelp/EasyQRCodeJS@master/dist/easy.qrcode.min.js"></script>

    <link rel="stylesheet" href="/templates/base/base.css?v=1.1">

    {% if page.folder_name %}
        <link rel="stylesheet" href="/templates/{{ page.folder_name }}/{{ page.folder_name }}_style.css?v=1.1">
    {% endif %}
</head>