{% extends "base/base.html" %}

{% block extra_styles %}
    <link rel="stylesheet" href="/templates/12den/12den_page.css">
{% endblock %}

{% block content %}
    {% include 'base/blocks/social.html' %}
    {% include 'base/blocks/messenger.html' %}
    {% include 'base/blocks/finance.html' %}
    {% include 'base/blocks/crypto.html' %}
    {% include 'base/blocks/shop.html' %}
    {% include 'base/blocks/donate.html' %}
{% endblock %}

{% block modals %}
    {% include '11den/11den_modal.html' %}
    {% include '11den/11den_modal_bank.html' %}
    {% include '11den/11den_modal_usa.html' %}
{% endblock %}

{% block extra_js %}
    <script src="/templates/12den/12den_page.js"></script>
{% endblock %}