<!-- templates/11den/icon_block.html -->
{% if link.link_type == 'non_res_vietnam' %}
    <img src="/static/icons/non_resident.png" class="link-icon custom-link-icon" alt="{{ link.title }}">
{% elif link.link_type == 'phone_russia' or link.link_type.startswith('phone') %}
    <img src="/static/icons/sberbank.png" class="link-icon custom-link-icon" alt="{{ link.title }}">
{% elif link.icon %}
    {% if link.icon.startswith('fa-') or link.icon.startswith('fab ') or link.icon.startswith('fas ') or link.icon.startswith('far ') %}
        <i class="{{ link.icon }} link-icon"></i>
    {% else %}
        <img src="/static/icons/{{ link.icon }}.png" class="link-icon custom-link-icon" alt="{{ link.title }}">
    {% endif %}
{% else %}
    <i class="fas fa-link link-icon"></i>
{% endif %}